
@{
    ViewData["Title"] = "AddPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-controller="Home" asp-action="AddPhone" method="post">
            <div class="text-danger" asp-validation-summary="All">  </div>
            <div class="form-group">

            </div><br />
            
            <div class="form-group">

            </div><br />
            
            <div class="form-group">

            </div><br />
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary" >KAYDET</button>
            </div><br />


        </form>
    </div>
</div>